@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 97%;
    --foreground: 36 33% 5%;
    --card: 36 33% 95%;
    --card-foreground: 36 33% 5%;
    --popover: 36 33% 97%;
    --popover-foreground: 36 33% 5%;
    --primary: 36 33% 30%;
    --primary-foreground: 36 33% 97%;
    --secondary: 36 20% 80%;
    --secondary-foreground: 36 33% 5%;
    --muted: 36 20% 90%;
    --muted-foreground: 36 33% 40%;
    --accent: 36 40% 60%;
    --accent-foreground: 36 33% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 36 33% 97%;
    --border: 36 33% 85%;
    --input: 36 33% 85%;
    --ring: 36 33% 30%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 36 33% 5%;
    --foreground: 36 33% 97%;
    --card: 36 33% 7%;
    --card-foreground: 36 33% 97%;
    --popover: 36 33% 5%;
    --popover-foreground: 36 33% 97%;
    --primary: 36 33% 70%;
    --primary-foreground: 36 33% 5%;
    --secondary: 36 20% 20%;
    --secondary-foreground: 36 33% 97%;
    --muted: 36 20% 15%;
    --muted-foreground: 36 33% 60%;
    --accent: 36 40% 40%;
    --accent-foreground: 36 33% 97%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 36 33% 97%;
    --border: 36 33% 20%;
    --input: 36 33% 20%;
    --ring: 36 33% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
